{% extends "studbud/base.html" %}
{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr; 
    }
</style>


<h2>Home template</h2>

<br>
<hr>


<div class="home-container">
    <div>
        {% include "studbud/topics_components.html" %}
    </div>


    <div>
        <h5>{{room_count}} Rooms available</h5>
    <a href="{% url 'create_room' %}">create new room</a>
    
    {% include "studbud/feed_components.html" %}
    </div>


    <div>
        {% include "studbud/activity_components.html" %}
    </div>
</div>

{% endblock %}