{% extends "studbud/base.html" %}

{% block content %}

{% if page == 'login' %}
<form action="" method="post">
    {% csrf_token %}  
    {{form.as_p}}
    <input type="submit" value="Submit">
    <br>
    <br>
    <a href="{% url 'register' %}">Haven't registered yet?</a>
</form>
{% else %}
<form action="" method="post">
    {% csrf_token %}  
    {{form.as_p}}
    <input type="submit" value="Submit">
    <br>
    <br>
    <a href="{% url 'login' %}">Already registered!</a>
</form>
{% endif %}
{% endblock %}